*.sh text eol=lf
scripts/run text eol=lf
scripts/prepare-hook-smoke text eol=lf
*.go text eol=lf
*.json text eol=lf
*.yml text eol=lf
Makefile text eol=lf
*.md text eol=lf
LICENSE text eol=lf
.go-version text eol=lf
